<%= form_for :flickr_id, url: static_pages_show_path, method: 'get' do |f| %>
  <p>
    <%= f.label 'user_id: ' %>
    <%= f.text_field :flickr_id %>  
  </p>

  <p>
    <%= f.submit 'submit' %>
  </p>
  
<% end %>
